.App {
  text-align: center;
  padding: 2%;
}

h1 {
  color: lightseagreen;
  background: black;
  font-size: 3rem;
}

.smurfCard {
  margin-left: 50%;
  margin-right: 20%;
  margin-top: 2%;
  padding: 1%;
  background: lightseagreen;
  color: black;
  font-size: 1.5rem;
}

.newsmurf-form {
  font-size: 1.5rem;
}

label {
  padding: 1%;
}

button {
  margin: 1%;
  width: 20%;
  background-color: #B51B08;
  color: white;
  font-size: 1.5rem;
  border-radius: 20px;
}